# Project artifacts
asmr-player/node_modules
asmr-player/dist
asmr-player/dist-ssr
asmr-player/.vscode/
!asmr-player/.vscode/settings.json
!asmr-player/.vscode/extensions.json
asmr-player/src-tauri/target/
asmr-player/src-tauri/gen/
asmr-player/src-tauri/icons/icon.icns
asmr-player/src-tauri/icons/icon.ico

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database (Recursive)
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.idea
*.suo
*.sln
*.sw?
